{%  extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}

    <title>Flask platzi | Sing-up</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/main.css') }}" />
{% endblock %}
{% block body %}
    {% if get_flashed_messages()[0] %}
        <div class="alert alert-success alert-dismissable">
            <button type="button"
                    data-dismiss="alert"
                    class="close"
                    style="margin: 0">

                &times;
            </button>
            <p>{{ get_flashed_messages()[0] }}</p>
        </div>
    {% endif %}

    <div class="container login-panel">
{#        <form action="{{ url_for('hello') }}" method="post">#}
{#            Este recibe el objeto y crea un formulario#}
{#            {{ login_form.username }}#}
{#            {{ login_form.username.label }}#}
{#        </form>#}
        {# Este crea re gratis un formulario traido de bootstrap re completo#}
        <h2>SING-UP</h2>
        {{ wtf.quick_form(singup_form) }}

    </div>
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}
